.quiz-container {
  background-image: linear-gradient(wheat , antiquewhite, wheat);
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
}

.answers-container {
  width: clamp(100px, 100%, 600px);
}

.answer {
  width: 100%;
  margin: 2%;
  transition-duration: 0.2s;
  font-size: clamp(1rem, 8cqw, 5rem);
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: ivory;
  container-type: inline-size;
  white-space: nowrap;
}

.answer>h4 {
  margin: 5%;
}

answer:hover {
  background-color: burlywood;
}

.wrong-answer,
.wrong-answer:hover {
  background-color: red;
}

.correct-answer,
.correct-answer:hover {
  background-color: green;
}

.romaji-container {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  container-type: inline-size;
  width: clamp(100px, 80%, 600px);
}

.family-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.romaji-text {
  font-size: clamp(0.5rem, min(20cqw,40cqh), 204px);
  margin: 0;
  text-decoration: underline;
}

.romaji-text-title {
  font-size: clamp(0.25rem, 5cqw, 6rem);
  text-wrap: nowrap;
}
