<div class="quiz-container">
  <h1>Learn Hiragana Quiz</h1>

  <div class="romaji-container">
    <h2 class="romaji-text-title">pick the matching hiragana character</h2>
    <h3 class="romaji-text">{{ this.correctHiragana()![1] }}</h3>
  </div>

  <div class="answers-container">
    @for (romajiPair of this.pickedHiraganaSet(); track romajiPair) {
      <td (click)="quizElementClicked(romajiPair)" [class]="getQuizElementColor(romajiPair)">
        {{ romajiPair[0] }}
      </td>
    }
  </div>

  <h2>{{ progressTrackerService.correctAnswered }} / {{ progressTrackerService.answered }} Correctly</h2>

  <div style="display: flex; flex-direction: column; width: 80%; align-items: flex-start">
    @for (hiraganaFamily of Object.values(HiraganaFamily); track hiraganaFamily; let index = $index) {
      <label>
        <input #checkbox (change)="toggle(checkbox.checked, hiraganaFamily)" [checked]="isChecked(hiraganaFamily)"
               type="checkbox">
        {{ hiraganaFamily.toLowerCase() }}
      </label>
    }
  </div>
</div>
