.quiz-container {
  background-image: linear-gradient(hotpink, pink, lightpink, pink, hotpink);
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

p {
  font-size: 72px;
}

table {
  justify-self: center;
  border-spacing: 30px;
}

td {
  transition-duration: 0.2s;
  font-size: 72px;
  --size: 200px;
  width: var(--size);
  height: var(--size);
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  background-color: ivory;
}

td:hover {
  background-color: hotpink;
}

.wrong-answer,
.wrong-answer:hover {
  background-color: red;
}

.correct-answer,
.correct-answer:hover {
  background-color: green;
}
